h1 {
    animation-name: headeranimation;
    animation-duration: 4s;
    -moz-animation-name: mozillaheaderanimation;
    -moz-animation-duration: 8s;
    text-align: center;
    font-size: 70px;
    font-family: OCR A Std, monospace;
}
@keyframes headeranimation {
    from {
        color: black;
      }
    to {
       color: darkred;
    }
}
@keyframes mozheaderanimation {
    from {
        color: black;
    }

    to {
        color: orangered;
    }
}
th:hover{
    background-color: darkred;
    
}
th:link {
    color: black;
}
th:visited {
    color: white;
}
.div_img{
    width: 550px;
    height: 700px;
    float: right;
    text-align: center;  
}
.figcaption{
    font-size: 20px;
}
.img_workout_equipment{
    width: 450px;
    height: 600px;
    float: right;
}

.workout_text{
   font-size: 35px; 
   font-style: italic;
}

.header_2{
    font-family: OCR A Std, monospace;
    font-size: 50px;
}

.header_3{
    font-family: OCR A Std, monospace;
    font-size: 50px;
    text-align: center;
}
.header_4{
    font-family: OCR A Std, monospace;
    font-size: 35px;
    text-align: left;
}
.header_newsletter{
    font-family: OCR A Std, monospace;
    font-size: 50px;
    text-align: center;
    color: goldenrod;
}
.newsletter{
    text-align: center;
}
footer{
    text-align: center;
}
.tablestyle{
    font-size: 20px;
}
.header_6{
    font-family: OCR A Std, monospace;
    font-size: 50px;
    text-align: center;
}

.bmi_calculator_style{
    font-size: 25px;
    text-align: center;
}